
[git]
  autoCommit = true
  autoPush = true

[template]
  delimiters = ["<<", ">>"]

[data]
  myhostname = "{{ .chezmoi.hostname }}"

[[entry]]
source = "{{ .chezmoi.hostname  }}/file.toml"
target = ".file.toml"
template = true



